<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>epvnProject</display-name>
  
  <!-- 
  TO ADD A NEW SERVLET:
  - <servlet>
    	<servlet-name>[nom du servlet]</servlet-name>
    	<servlet-class>[nom du package]</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>[nom du servlet]</servlet-name>
    	<url-pattern>[url possible]</url-pattern>
    	<url-pattern>[autre url si besoin]</url-pattern>
  	</servlet-mapping>
  
   -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>project.index</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>