<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>epvnProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BackOffice</servlet-name>
    <servlet-class>controler.backoffice.BackOffice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackOffice</servlet-name>
    <url-pattern>/backOffice</url-pattern>
    <url-pattern>/backoffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateDonation</servlet-name>
    <servlet-class>controler.donation.CreateDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDonation</servlet-name>
    <url-pattern>/donation/init</url-pattern>
    <url-pattern>/donation/do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>controler.home.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsultProfile</servlet-name>
    <servlet-class>controler.profile.ConsultProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultProfile</servlet-name>
    <url-pattern>/profile/consult</url-pattern>
    <url-pattern>/profile/see</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>controler.home.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact/consult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyProfile</servlet-name>
    <servlet-class>controler.profile.ConsultProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProfile</servlet-name>
    <url-pattern>/profile/modify</url-pattern>
    <url-pattern>/profile/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsultProject</servlet-name>
    <servlet-class>controler.project.ConsultProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultProject</servlet-name>
    <url-pattern>/project/consult</url-pattern>
    <url-pattern>/project/Consult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrModifyProject</servlet-name>
    <servlet-class>controler.project.CreateOrModifyProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrModifyProject</servlet-name>
    <url-pattern>/project/create</url-pattern>
    <url-pattern>/project/modify</url-pattern>
  </servlet-mapping>
</web-app>