<!-- <? xml version='1.0' encoding='utf-8' ?> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
		
		<session-factory>
                <property name="show_sql">true</property>
                <property name="format_sql">true</property>
                <property name="dialect">util.SQLiteDialect</property>
                <property name="connection.driver_class">org.sqlite.JDBC</property>
                <property name="connection.url">jdbc:sqlite:SQLiteJDBC.sqlite</property>
                <property name="connection.username"></property>
                <property name="connection.password"></property>

                <!--  create / update  -->
                <property name="hibernate.hbm2ddl.auto">create</property>

                <!--  Liste des classes à Mapper en base de données -->
                <!--  <mapping resource="User.hbm.xml"/> -->
                <mapping class="com.hibernate.Student_Info"/>
        </session-factory>
	
	</hibernate-configuration>