<!-- <? xml version='1.0' encoding='utf-8' ?> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
		
		<session-factory>
			<!-- Database connection settings -->
		
			<!-- <property name="connection.driver_class">org.mysql.jdbc.Driver</property> -->
			<property name="connection.url">https://www.db4free.net/phpMyAdmin/index.php?token=37d7d02f4e6ada1ecf5479c96807a378</property>
			<property name="connection.username">cyan_team@localhost</property>
			<property name="connection.password">isep123</property>
		
		
			<!-- Pool de connection (interne) -->
			<property name="connection.pool_size">1</property>
		
		</session-factory>
	
	</hibernate-configuration>